.user-list{
  height: calc(100% - 100px);
  overflow: scroll;
  &__item{
    display: flex;
    align-items: center;
    height: 100px;
    padding: 20px;
    border-bottom: 1px solid #eef3f9;
    &:first-child{
      background-color: #edeeef;
    }
  }
	&__avatar{
    span{
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
	}
  &__messages{
    &-info{
      display: flex;
      align-items: center;
      justify-content: space-between;
      h4{
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 9px;
        
      }
      span{
        background-color: #17c608;
        color: white;
        padding: 3px 9px;
        font-size: 12px;
        border-radius: 12px;
      }
    }
    p{
      font-size: 13px;
      color:#8B8B8B;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 70%;
    }
  }
}